@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

:root {
  --color-background: #e7e7e7;
  --color-background-alt: #888888;
  --color-border-active: #da7105;
  --color-border-default: #d1d1d1;
  --color-highlight: #fdcf4c;
  --color-primary: #b64e08;
  --color-primary-active: #79320e;
  --color-text-default: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  background: #1a1a1a;
  flex-wrap: wrap;
  justify-content: center;
}

.header-iconos {
  display: none;
}

/* NAVEGADOR */

.abrir-menu {
  display: none;
}

.desarrollador-movile {
  display: none;
}

.navmenu {
  display: none;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.navmenu.visible {
  transform: translateX(0);
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}

/* LOGO */

.logo {
  width: 250px;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  background: #1a1a1a;
  text-align: center;
  flex-wrap: wrap;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.logo p {
  padding: 8px;
  font-size: 18px;
  color: #f0f0f0;
  font-weight: 500;
}

.logo p:hover {
  transition: 300ms;
  color: #ff4e4e;
  cursor: pointer;
}

/* ICONOS */

.conteiner-iconos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.iconos {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

.iconos img {
  display: inline;
  width: 30px;
  cursor: pointer;
  margin: 3px;
}

.iconos img:hover {
  background: #ff4e4e;
  transition: all 480ms ease;
  border-radius: 6px;
}

.conteiner-menu {
  display: flex;
  width: auto;
  flex-wrap: wrap;
}

.conteiner-menu ul {
  display: flex;
  text-align: center;
}

.conteiner-menu li {
  display: inline-block;
  width: 80px;
  height: 50px;
  font-size: 15px;
  color: #1a1a1a;
  justify-content: center;
}

.conteiner-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-weight: bold;
}

.conteiner-menu li:hover {
  color: #ff4e4e;
  transition: 400ms ease;
  cursor: pointer;
  background-color: #1a1a1a;
}

.conteiner-menu ul a {
  text-decoration: none;
}

/* PORTADA */

.background-portada {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background: #1a1a1a;
  height: 530px;
  border-bottom-right-radius: 35%;
}

/* BARRA 1 - EDUCACION */

.conteiner-barra1 {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #000000;
  box-shadow: 1px 1px 500px 90px #2c00ff;
}

.conteiner-barra2 {
  display: flex;
  width: 65%;
  height: 40px;
  align-items: center;
}

.conteiner-barra2 p {
  margin-left: 5px;
  color: #ffffff;
  font-family: 'Ysabeau SC', sans-serif;
  margin-bottom: 15px;
}

/* TARJETA DE PRESENTACION */

.conteiner-tarjeta {
  display: flex;
  width: 100%;
  height: 475px;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portada-imagen2-tarjeta {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background: rgba(110, 110, 110, 0.199);
  border-radius: 10px;
  flex-wrap: wrap;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.conteiner-imagen2-tarjeta {
  flex-wrap: wrap;
}

.conteiner-imagen2-tarjeta img {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  padding: 15px;
  object-fit: cover;
}

.conteiner-imagen2-tarjeta img:hover {
  transition: all 450ms ease;
  transform: scale(1.05);
}

.portada-info {
  display: inline-block;
  width: 320px;
  height: 275px;
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

.portada-info p {
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.portada-info p:hover {
  transform: scale(1.05);
  transition: all 450ms ease;
}

/* EDUCACION */

.educacion-titulo {
  position: absolute;
  color: #c9c9c9;
  font-family: 'Ysabeau SC', sans-serif;
  width: 141px;
  height: 68px;
  justify-content: center;
  margin-left: 15px;
  border-radius: 10px;
  margin-top: 15px;
}

.educacion-titulo p {
  width: 142px;
  height: 68px;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding: 16px;
  letter-spacing: -2px;
  border-bottom: 1px solid #c9c9c9;
  box-shadow: 5px 5px 5px;
  justify-content: center;
  border-radius: 10px;
}

.educacion-titulo:hover {
  width: 142px;
  height: 68px;
  background: #1a1a1a;
  color: #ff4e4e;
  transition: all 450ms ease;
  cursor: pointer;
  box-shadow: 1px 1px 5px 2px #1a1a1a;
}

.conteiner-educacion {
  width: 100%;
  display: flex;
  padding: 35px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 600px;
  background: #ff4e4e;
  border-top-right-radius: 90%;
  border-right: 8px solid #ffffff;
}

.educacion-tarjeta {
  display: inline-block;
  width: 190px;
  height: 315px;
  background: rgba(225, 225, 225, 0.654);
  border-radius: 10px;
  margin: 22px;
  justify-content: center;
  text-align: center;
  padding: 5px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 5px 5px 20px 2px #4f1fe1dd;
  border-left: 1px solid #a1a1a1;
  border-top: 1px solid #a1a1a1;
  transition: all 300ms ease;
  margin-top: -30px;
  background: #4edfff;
}

.educacion-tarjeta:hover {
  transform: translateY(-10px);
}

.educacion-tarjeta-img {
  display: flex;
  width: 178px;
  height: 130px;
  justify-content: center;
  overflow: hidden;
}

.educacion-tarjeta-img img {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #a1a1a1;
  transition: all 300ms;
}

.educacion-tarjeta-img img:hover {
  transform: scale(1.1);
  transition: all 400ms ease;
}

.educacion-texto {
  flex-wrap: wrap;
  display: flex;
  width: 182px;
  height: 155px;
  margin-top: 4px;
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 1px solid #a1a1a1;
}

.educacion-texto h2 {
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Ysabeau SC', sans-serif;
  color: #000000;
}

.footer-educacion {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.footer-educacion button {
  width: 67px;
  height: 27px;
  font-size: 13px;
  font-weight: bold;
  color: #f0f0f057;
  text-decoration: none;
  border: 1px solid #a1a1a1;
  border-radius: 15px;
  background: #a1a1a150;
  margin-top: 15px;
}

.footer-educacion button a {
  color: #000000;
  text-decoration: none;
}

.footer-educacion button:hover {
  background: #1a1a1a;
  transition: all 350ms ease;
}

.footer-educacion button a:hover {
  color: #ff4e4e;
  -webkit-text-stroke: 0.2px #000000;
}

/* SKILLS */

.conteiner-skills-titulo {
  display: flex;
  width: 100%;
  background: #220e82;
  border-right: 8px solid #ffffff;
  height: 115px;
  margin-top: 5px;
}

.skills-titulo {
  position: absolute;
  display: flex;
  width: 90px;
  height: 65px;
  color: #c9c9c9;
  z-index: 100;
  margin-left: 15px;
  border-radius: 10px;
  margin-top: 25px;
}

.skills-titulo p {
  width: 90px;
  height: 65px;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 15px;
  letter-spacing: -1px;
  border-bottom: 1px solid #c9c9c9;
  box-shadow: 5px 5px 5px;
  border-radius: 10px;
  justify-content: center;
}

.skills-titulo:hover {
  width: 90px;
  background: #1a1a1a;
  color: #ff4e4e;
  transition: 450ms ease;
  box-shadow: 1px 1px 5px 2px #1a1a1a;
}

.conteiner-skills {
  display: flex;
  width: 100%;
  height: 395px;
  justify-content: center;
  flex-wrap: wrap;
  background: #220e82;
  border-right: 8px solid #ffffff;
}

.presentacion-tarjeta-skills {
  display: flex;
  width: 148px;
  height: 275px;
  border-radius: 15px;
  justify-content: center;
  margin-right: 20px;
  flex-wrap: wrap;
  border: 1.5px solid #a1a1a1;
  box-shadow: 5px 5px 10px #000000;
  z-index: 1000;
  background: rgb(206, 206, 206);
  box-shadow: 1px 1px 5px 5px #fff;
}

.presentacion-tarjeta-skills:hover {
  transform: translateY(-10px);
  transition: 405ms ease;
}

.tarjeta-img {
  border-radius: 15px;
  display: flex;
  width: 190px;
  height: 140px;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #a1a1a1;
  margin-top: 8px;
  background: #000000;
}

.tarjeta-img img {
  width: 45%;
  height: 55%;
  justify-content: center;
  margin-top: 22px;
}

.tarjeta-img img:hover {
  transform: scale(1.1);
  transition: all 400ms ease;
}

.tarjeta-descripcion {
  display: flex;
  height: 25px;
  justify-content: center;
}

.tarjeta-descripcion h1 {
  display: flex;
  font-size: 12px;
  color: #000000;
  font-weight: bold;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
}

.tarjeta-descripcion button {
  width: 80px;
  height: 27px;
  background: rgb(66, 66, 66);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
}

.tarjeta-descripcion button:hover {
  background: rgb(13, 190, 226);
  transition: 400ms ease;
}

.tarjeta-descripcion button h1:hover {
  color: #000000;
}

.tarjeta-descripcion button h1 {
  height: 18px;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 10px;
  justify-content: center;
  color: rgb(19, 179, 67);
  margin-top: 4px;
}

.tarjeta-videogame {
  display: flex;
  width: 150px;
  height: 80px;
  padding: 5px;
  justify-content: space-between;
}

.tarjeta-videogame img {
  display: flex;
  width: 100%;
  margin: 8px;
}

.tarjeta-videogame img:hover {
  transform: scale(1.2);
  transition: all 405ms ease;
}

/* PROYECTOS */

.conteiner-titulo-proyecto {
  display: flex;
  width: 100%;
  height: 140px;
  background: #1a1a1a;
  border-right: 8px solid #ffffff;
  margin-top: 5px;
}

.proyecto-titulo {
  display: flex;
  width: 165px;
  height: 83px;
  color: #fbfbfb;
  font-family: 'Ysabeau SC', sans-serif;
  padding: 10px;
  margin-top: 5px;
}

.proyecto-titulo p {
  width: 155px;
  height: 60px;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
  letter-spacing: -2px;
  box-shadow: 1px 1px 5px 2px #ffffff;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

.proyecto-titulo p:hover {
  width: 155px;
  height: 60px;
  background: #1a1a1a;
  color: #ff4e4e;
  -webkit-text-stroke: 0.2px #000000;
  border-radius: 10px;
  padding: 10px;
  transition: all 400ms ease;
  box-shadow: 5px 5px 5px #ff4e4e;
}

.conteiner-proyecto {
  position: absolute;
  width: 100%;
  height: 500px;
  flex-wrap: wrap;
  z-index: 100;
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  border-right: 8px solid #ffffff;
  border-bottom-right-radius: 80%;
}

.tarjeta-proyecto1,
.tarjeta-proyecto2 {
  width: 450px;
  border-radius: 15px;
  margin: 25px;
  justify-content: center;
  padding: 3px;
  color: rgb(221, 221, 228);
}

.img-proyecto1,
.img-proyecto2 {
  display: flex;
  width: 380px;
  height: 250px;
  margin-top: 15px;
}

.img-proyecto1 img,
.img-proyecto2 img {
  width: 100%;
  border-radius: 15px;
  z-index: 100;
}

.tarjeta-proyecto1:hover,
.tarjeta-proyecto2:hover {
  transform: scale(1.02);
  transition: 450ms ease;
  cursor: pointer;
}

.img-proyecto1 img:hover,
.img-proyecto2 img:hover {
  transform: scale(1.02);
  transition: 450ms ease;
}

/* EXPERIENCIA LABORAL */

.conteiner-experiencia-laboral {
  position: absolute;
  display: flex;
  width: 100%;
  height: 380px;
  background: #ffffff;
  margin-top: 560px;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ffffff;
}

.experiencia-laboral-titulo {
  position: absolute;
  display: flex;
  width: 290px;
  height: 75px;
  color: #f9f8f8;
  text-justify: distribute-all-lines;
  font-family: 'Ysabeau SC', sans-serif;
  align-items: center;
  margin-top: 75px;
  justify-content: space-between;
  z-index: 100;
}

.experiencia-laboral-titulo h3 {
  position: absolute;
  width: 290px;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
  letter-spacing: -1px;
  box-shadow: 2px 2px 2px #ffffff;
  border-radius: 10px;
  color: #c9c9c9;
}

.experiencia-laboral-titulo h3:hover {
  background: #ffffff;
  color: #000000;
  -webkit-text-stroke: 0.2px #000000;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #ff4e4e;
  transition: all 450ms ease;
}

.conteiner-cv-certificado {
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: 225px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.descarga-cv {
  display: flex;
  width: 245px;
  height: 48px;
  border-radius: 15px;
  background: #f9f8f8;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 100;
  margin-left: 300px;
  box-shadow: 2px 2px 2px #ffffff;
  align-content: center;
  border-top: 1px solid #c9c9c9;
}

.descarga-cv a {
  width: 280px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  color: #c9c9c9;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.descarga-cv:hover {
  background: #ffffff;
  color: #000000;
  transition: all 450ms ease;
  box-shadow: 5px 5px 5px #ff4e4e;
}

.descarga-cv a:hover {
  color: #000000;
}

.descarga-certificado {
  display: flex;
  width: 245px;
  height: 50px;
  border-radius: 15px;
  background: #f9f8f8;
  z-index: 100;
  margin-right: 300px;
  box-shadow: 2px 2px 2px #fffeff;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-top: 1px solid #c9c9c9;
}

.descarga-certificado a {
  text-align: center;
  width: 280px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  color: #c9c9c9;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.descarga-certificado:hover {
  background: #ffffff;
  color: #000000;
  transition: all 450ms ease;
  box-shadow: 5px 5px 5px #ff4e4e;
}

.descarga-certificado a:hover {
  color: #000000;
}

.contacto-background {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 720px;
  background: #f9f8f8;
}

.contacto-background video {
  position: absolute;
  width: 95%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top-left-radius: 11%;
  border-top-right-radius: 11%;
  border-bottom-left-radius: 11%;
  border-bottom-right-radius: 11%;
  border-top: 2px solid #c9c9c9;
  border-left: 2px solid #c9c9c9;
}

:focus {
  outline: none;
}

/* FORMULARIO =================================== */

.form_wrap {
  z-index: 100;
  width: 900px;
  height: 530px;
  margin: 50px auto;
  display: flex;
  margin-top: 1055px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* Informacion de Contacto*/

.cantact_info::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #4091EC;
  opacity: 0.9;
}

.cantact_info {
  width: 32%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../fondo.jpg');
  background-size: cover;
  background-position: center center;
  height: 68%;
  margin-left: 25px;
  margin-top: 32px;
}

.info_title,
.info_items {
  position: relative;
  z-index: 2;
  color: #fff;
}

.info_title {
  margin-bottom: 16px;
}

.info_title span {
  font-size: 100px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.info_title h2 {
  font-size: 35px;
  text-align: center;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
}

.info_items p {
  display: flex;
  align-items: center;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.info_items p:nth-child(1) span {
  font-size: 30px;
  margin-right: 10px;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
}

.info_items p:nth-child(2) span {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 4px;
}

/* Formulario de contacto*/

form.form_contact {
  width: 62%;
  padding: 30px 40px;
  z-index: 100;
}

form.form_contact h2 {
  font-size: 28px;
  font-weight: 600;
  color: #f7f7f7;
  margin-bottom: 2px;
}

form.form_contact .user_info {
  display: flex;
  flex-direction: column;
  color: #399af4;
  -webkit-text-stroke: 0.9;
}

form.form_contact label {
  font-weight: 600;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
}

form.form_contact input,
form.form_contact textarea {
  width: 100%;
  padding: 12px 5px 5px;
  margin-bottom: 8px;
  border: none;
  border-bottom: 2px solid #D1D1D1;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  color: #0e0e0e;
  font-size: 16px;
  font-weight: 500;
  -webkit-text-stroke: 1.0;
  height: 45px;
}

form.form_contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form.form_contact input[type="submit"] {
  width: 155px;
  height: 45px;
  background: #4091EC;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

form.form_contact input[type="submit"]:hover {
  background: #3371B6;
  transition: all 405ms ease;
  color: #e3e3e3;
}

/* Ventana de errores*/

.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.mensaje_modal {
  position: absolute;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 30px 20px 15px;
  position: absolute;
}

.mensaje_modal h3 {
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 25px;
  font-weight: 400;
  z-index: 200;
  position: absolute;
}

.mensaje_modal h3:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px;
  z-index: 100;
  position: absolute;
}

.mensaje_modal p {
  font-size: 16px;
  color: #606060;
  z-index: 200;
  position: absolute;
}

.mensaje_modal p:before {
  content: "\f00d";
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  display: inline-block;
  color: #E25151;
  margin-right: 8px;
  z-index: 200;
  position: absolute;
}

#btnClose {
  position: absolute;
  display: inline;
  padding: 3px 10px;
  margin-top: 10px;
  background: #E25151;
  color: #fff;
  border: 2px solid #B14141;
  cursor: pointer;
  float: right;
  z-index: 100;
}

.footer {
  position: absolute;
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: center;
}

.footer-desarrollador a,
.footer-desarrollador p {
  text-decoration: none;
  list-style: none;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #1a1a1a;
}

.footer-desarrollador p:hover {
  transition: 300ms;
  color: #4091EC;
  cursor: pointer;
}

/* MENSAJE EXITOSO */

.mensaje-exitoso {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #005980;
}

.mensaje-exitoso h1 {
  font-size: 35px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.mensaje-exitoso a {
  display: block;
  padding: 10px 30px;
  background: #4091ec;
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width:1360px) {
  .conteiner-skills {
    display: flex;
    width: 100%;
    height: 315px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width:1220px) {

  /* NAVEGADOR */

  .header-iconos {
    display: none;
  }

  nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    width: 250px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background: #1a1a1a;
    text-align: center;
    flex-wrap: wrap;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .logo p {
    padding: 5px;
    font-size: 18px;
    color: #f0f0f0;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }

  .background-portada {
    display: flex;
    width: 100%;
    height: 540px;
    flex-wrap: wrap;
    background: #1a1a1a;
    border-bottom-right-radius: 15%;
  }

  .portada-video {
    display: none;
  }

  .portada-video video {
    display: none;
  }

  .conteiner-tarjeta {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    text-justify: distribute;
    height: 300px;
    justify-content: center;
  }

  /* VIDEO EDUCACION */

  .educacion-video {
    width: 100%;
    justify-content: center;
  }

  /* titulo educacion */

  .educacion-titulo {
    position: absolute;
    color: #fbfbfb;
    padding: 0px;
    font-family: 'Ysabeau SC', sans-serif;
    width: 138px;
    height: 60px;
    justify-content: center;
    margin-left: 15px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .educacion-titulo p {
    width: 138px;
    height: 60px;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding: 16px;
    letter-spacing: -2px;
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 1px 1px 5px 5px #fff;
    justify-content: center;
    border-radius: 10px;
  }

  .educacion-titulo:hover {
    width: 138px;
    height: 60px;
    background: #ffffff;
    color: #000000;
    transition: all 450ms ease;
    cursor: pointer;
    -webkit-text-stroke: 0.2px #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #ff4e4e;
  }

  .conteiner-educacion {
    width: 100%;
    display: flex;
    padding: 35px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.05);
    height: 500px;
    border-top-right-radius: 33%;
  }

  .educacion-tarjeta {
    display: inline-block;
    width: 190px;
    height: 309px;
    background: rgba(225, 225, 225, 0.18);
    border-radius: 10px;
    margin: 13px;
    justify-content: center;
    text-align: center;
    padding: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 5px 5px 5px #0000006b;
    border-left: 1px solid #a1a1a1;
    border-top: 1px solid #a1a1a1;
    transition: all 300ms ease;
    box-shadow: 1px 1px 10px 5px #00c8ff;
  }

  .educacion-tarjeta:hover {
    transform: translateY(-10px);
  }

  .educacion-tarjeta-img img:hover {
    transform: scale(1.1);
    transition: all 400ms ease;
  }

  .educacion-tarjeta-img {
    display: flex;
    width: 180px;
    height: 130px;
    justify-content: center;
    overflow: hidden;
  }

  .educacion-tarjeta-img img {
    width: 100%;
    border-radius: 15px;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #444;
    transition: all 300ms;
  }

  .educacion-texto {
    flex-wrap: wrap;
    display: flex;
    width: 178px;
    height: 155px;
    margin-top: 4px;
    padding: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .educacion-texto h2 {
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Ysabeau SC', sans-serif;
    color: #1a1a1a;
  }

  .footer-educacion {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  .footer-educacion button {
    width: 67px;
    height: 27px;
    font-size: 13px;
    font-weight: bold;
    color: #f0f0f057;
    text-decoration: none;
    text-decoration-line: none;
    border-left: 1px solid #a1a1a1;
    border-top: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    border-radius: 15px;
    background: #a1a1a150;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .footer-educacion button a {
    color: #000000;
    text-decoration: none;
    list-style: none;
  }

  .footer-educacion button:hover {
    background: #1a1a1a;
    transition: all 350ms ease;
  }

  .footer-educacion button a:hover {
    color: #ff4e4e;
    -webkit-text-stroke: 0.2px #000000;
  }

  .skills-titulo {
    position: absolute;
    display: flex;
    width: 90px;
    height: 64px;
    color: #c9c9c9;
    font-family: 'Ysabeau SC', sans-serif;
    z-index: 100;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
  }

  .skills-titulo p {
    width: 90px;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 15px;
    letter-spacing: -1px;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 10px;
    justify-content: center;
  }

  .skills-titulo:hover {
    width: 90px;
    background: #ffffff;
    color: #1a1a1a;
    transition: 450ms ease;
    -webkit-text-stroke: 0.2px #000000;
    border-radius: 10px;
  }

  .conteiner-skills {
    display: flex;
    width: 100%;
    height: 410px;
    justify-content: center;
    flex-wrap: wrap;
    background: #220e82;
    border-right: 8px solid #ffffff;
  }

  .presentacion-tarjeta-skills {
    display: flex;
    width: 147px;
    height: 275px;
    background: rgb(206, 206, 206);
    border-radius: 15px;
    justify-content: center;
    margin-right: 20px;
    flex-wrap: wrap;
    border-left: 1.5px solid #a1a1a1;
    border-top: 1.5px solid #a1a1a1;
    box-shadow: -9px -12px 11px #6454d2;
    margin-top: 20px;
  }

  .presentacion-tarjeta-skills:hover {
    transform: translateY(-10px);
    transition: 405ms ease;
  }

  .tarjeta-img {
    border-radius: 15px;
    display: flex;
    width: 190px;
    height: 140px;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #a1a1a1;
    border-top: 1px solid #a1a1a1;
    margin-top: 8px;
    background: #000000;
  }

  .tarjeta-img img {
    width: 45%;
    height: 55%;
    justify-content: center;
    margin-top: 22px;
  }

  .tarjeta-img img:hover {
    transform: scale(1.1);
    transition: all 400ms ease;
  }

  .tarjeta-descripcion {
    display: flex;
    height: 25px;
    justify-content: center;
  }

  .tarjeta-descripcion h1 {
    display: flex;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  }

  .tarjeta-descripcion button {
    width: 80px;
    height: 27px;
    background: rgb(19, 179, 67);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
  }

  .tarjeta-descripcion button:hover {
    background: rgb(17, 13, 226);
    transition: 400ms ease;
  }

  .tarjeta-descripcion button h1:hover {
    color: #59fc59;
  }

  .tarjeta-descripcion button h1 {
    height: 18px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 10px;
    justify-content: center;
    color: rgb(19, 179, 67);
  }

  .tarjeta-videogame {
    display: flex;
    width: 150px;
    height: 80px;
    padding: 5px;
    justify-content: space-between;
  }

  .tarjeta-videogame img {
    display: flex;
    width: 100%;
    margin: 8px;
  }

  .tarjeta-videogame img:hover {
    transform: scale(1.2);
    transition: all 405ms ease;
  }

  .conteiner-titulo-proyecto {
    width: 100%;
    height: 160px;
    background: #1a1a1a;
    margin-top: 5px;
  }

  .proyecto-titulo {
    position: absolute;
    display: flex;
    width: 200px;
    height: 50px;
    color: #c9c9c9;
    padding: 5px;
    text-justify: distribute-all-lines;
    font-family: 'Ysabeau SC', sans-serif;
    align-items: center;
    z-index: 100;
    margin-left: 15px;
    margin-top: 10px;
  }

  .conteiner-proyecto {
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    z-index: 100;
    display: flex;
    justify-content: center;
    background: #1a1a1a;
  }

  .tarjeta-proyecto1 {
    width: 455px;
    border-radius: 10px;
    margin: 25px;
    border-radius: 15px;
    justify-content: center;
    margin-top: 10px;
    color: rgb(221, 221, 228);
  }

  .img-proyecto1 {
    display: flex;
    width: 370px;
    height: 250px;
    z-index: 100;
  }

  .tarjeta-proyecto2 {
    width: 450px;
    border-radius: 10px;
    margin: 20px;
    border-radius: 15px;
    justify-content: center;
    color: rgb(221, 221, 228);
    margin-top: 12px;
  }

  .img-proyecto2 {
    display: flex;
    width: 390px;
    height: 250px;
    z-index: 100;
  }

  .conteiner-experiencia-laboral {
    position: absolute;
    display: flex;
    width: 100%;
    height: 380px;
    background: #ffffff;
    margin-top: 500px;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ffffff;
  }

  .experiencia-laboral-titulo {
    position: absolute;
    display: flex;
    width: 270px;
    color: #ffffff;
    text-justify: distribute-all-lines;
    font-family: 'Ysabeau SC', sans-serif;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
    z-index: 100;
  }
}

@media screen and (max-width:1100px) {
  .header-iconos {
    display: none;
  }

  .educacion-titulo {
    position: absolute;
    color: #fbfbfb;
    font-family: 'Ysabeau SC', sans-serif;
    width: 142px;
    height: 57px;
    justify-content: center;
    margin-left: 15px;
    border-radius: 10px;
  }

  .educacion-titulo p {
    width: 140px;
    height: 57px;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding: 16px;
    letter-spacing: -2px;
    justify-content: center;
    border-radius: 10px;
  }

  .educacion-titulo:hover {
    width: 142px;
    height: 57px;
    background: #ffffff;
    color: #1a1a1a;
    transition: all 450ms ease;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #ffffff;
  }

  .conteiner-educacion {
    width: 100%;
    display: flex;
    padding: 35px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
  }

  .educacion-tarjeta {
    display: inline-block;
    width: 147px;
    height: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 20px 2px #4f1fe1dd;
    border-left: 1px solid #a1a1a1;
    border-top: 1px solid #a1a1a1;
    transition: all 300ms ease;
    margin-top: 36px;
  }

  .educacion-tarjeta-img {
    display: flex;
    width: 134px;
    height: 99px;
    justify-content: center;
    overflow: hidden;
  }

  .educacion-texto {
    width: 135px;
    height: 170px;
    flex-wrap: wrap;
    display: flex;
    margin-top: 4px;
    padding: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .educacion-texto h2 {
    display: none;
  }

  .footer-educacion button {
    width: 67px;
    height: 27px;
    font-size: 13px;
    font-weight: bold;
    color: #f0f0f057;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-line: none;
    border-left: 1px solid #a1a1a1;
    border-top: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    border-radius: 15px;
    background: #a1a1a150;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: -124px;
  }

  .conteiner-skills-titulo {
    display: flex;
    width: 100%;
    background: #211276;
  }

  .skills-titulo {
    position: absolute;
    display: flex;
    width: 90px;
    height: 64px;
    color: #c9c9c9;
    font-family: 'Ysabeau SC', sans-serif;
    z-index: 100;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
  }

  .skills-titulo p {
    width: 90px;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 15px;
    letter-spacing: -1px;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 10px;
    justify-content: center;
  }

  .skills-titulo:hover {
    width: 90px;
    background: #ffffff;
    color: #1a1a1a;
    transition: 450ms ease;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #1a1a1a;
  }

  .conteiner-skills {
    display: flex;
    width: 100%;
    height: 380px;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 100;
    background-image: linear-gradient(#ffffff38, #000000);
    margin-top: 60px;
  }

  .presentacion-tarjeta-skills {
    display: flex;
    width: 120px;
    height: 160px;
    background: rgb(206, 206, 206);
    border-radius: 15px;
    justify-content: center;
    margin-right: 20px;
    flex-wrap: wrap;
    border-left: 1.5px solid #a1a1a1;
    border-top: 1.5px solid #a1a1a1;
    box-shadow: 5px 5px 10px #000000;
    z-index: 1000;
  }

  .tarjeta-img {
    border-radius: 15px;
    display: flex;
    width: 190px;
    height: 112px;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #a1a1a1;
    border-top: 1px solid #a1a1a1;
    margin-top: 8px;
    background: #000000;
  }

  .tarjeta-videogame img {
    display: flex;
    width: 97%;
    margin: 36px;
  }

  .tarjeta-descripcion button {
    width: 80px;
    height: 27px;
    background: rgb(19, 179, 67);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
    margin-top: -50px;
  }

  .conteiner-skills {
    display: flex;
    width: 100%;
    height: 290px;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 100;
    background-image: linear-gradient(#24205338, #000000);
    margin-top: 0px;
  }

  .conteiner-titulo-proyecto {
    width: 100%;
    height: 183px;
    background: #151515;
  }

  .proyecto-titulo {
    position: absolute;
    display: flex;
    width: 149px;
    height: 60px;
    color: #c9c9c9;
    text-justify: distribute-all-lines;
    font-family: 'Ysabeau SC', sans-serif;
    align-items: center;
    z-index: 100;
    margin-left: 15px;
    margin-top: 14px;
  }

  .proyecto-titulo p {
    width: 149px;
    height: 60px;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    box-shadow: 1px 1px 5px 2px #ffffff;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
  }

  .proyecto-titulo p:hover {
    width: 149px;
    height: 60px;
    background: #fbfbfb;
    color: #1a1a1a;
    -webkit-text-stroke: 0.2px #000000;
    border-radius: 10px;
    transition: all 400ms ease;
    box-shadow: 1px 1px 5px 2px #ffffff;
  }

  .conteiner-proyecto {
    position: absolute;
    width: 100%;
    height: 290px;
    flex-wrap: wrap;
    z-index: 100;
    display: flex;
    justify-content: center;
    background: #151515;
    margin-top: -25px;
  }

  .tarjeta-proyecto1 {
    width: 314px;
    border-radius: 10px;
    margin: 25px;
    border-radius: 19px;
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: center;
    color: rgb(221, 221, 228);
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    height: 176px;
    margin-top: -35px;
  }

  .tarjeta-proyecto2 {
    width: 320px;
    border-radius: 10px;
    border-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    color: rgb(221, 221, 228);
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    height: 160px;
    margin-top: -35px;
  }

  .img-proyecto1 {
    display: flex;
    width: 314px;
    height: 198px;
    z-index: 100;
    margin-left: -3px;
    margin-top: -6px;
  }

  .img-proyecto2 {
    display: flex;
    width: 330px;
    height: 194px;
    z-index: 100;
    margin-top: 0px;
    margin-left: -3px;
  }

  .conteiner-experiencia-laboral {
    position: absolute;
    display: flex;
    width: 100%;
    height: 380px;
    background: #ffffff;
    margin-top: 285px;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ffffff;
  }

  .experiencia-laboral-titulo {
    position: absolute;
    display: flex;
    width: 223px;
    color: #ffffff;
    text-justify: distribute-all-lines;
    font-family: 'Ysabeau SC', sans-serif;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    z-index: 100;
  }

  .conteiner-cv-certificado {
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: 190px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  .descarga-cv {
    display: flex;
    width: 190px;
    height: 48px;
    border-radius: 15px;
    background: #f9f8f8;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 100;
    box-shadow: 2px 2px 2px #ffffff;
    color: #b8b8b8;
    align-content: center;
    margin-left: 195px;
  }

  .descarga-certificado {
    display: flex;
    width: 190px;
    height: 48px;
    border-radius: 15px;
    background: #f9f8f8;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 100;
    box-shadow: 2px 2px 2px #ffffff;
    color: #c9c9c9;
    align-content: center;
    margin-right: 206px;
  }

  .cantact_info::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #7f8b9a00;
    opacity: 0.9;
  }

  .info_title h2 {
    font-size: 31px;
    text-align: center;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  }

  .cantact_info {
    width: 32%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;
    height: 68%;
    margin-left: 38px;
    margin-top: 32px;
  }
}

@media screen and (max-width:930px) {
  .form_wrap {
    z-index: 100;
    width: 700px;
    height: 530px;
    margin: 50px auto;
    display: flex;
    margin-top: 750px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    height: 458px;
  }

  form.form_contact {
    width: 53%;
    padding: 30px 40px;
    z-index: 100;
  }

  .conteiner-barra2 p {
    margin-left: 8px;
    color: #ffffff;
    font-family: 'Ysabeau SC', sans-serif;
    margin-bottom: 15px;
  }
}

@media screen and (max-width:900px) {
  .header-iconos {
    display: none;
  }

  .logo p:hover {
    transition: 300ms;
    color: #ff4e4e;
    cursor: pointer;
  }

  .iconos img:hover {
    background: #ff4e4e;
    transition: all 450ms ease;
    border-radius: 6px;
  }

  .conteiner-menu li:hover {
    color: #ff4e4e;
    transition: 450ms ease;
    cursor: pointer;
    background-color: #1a1a1a;
  }

  .logo {
    width: 250px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .logo p {
    padding: 5px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }

  .background-portada {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 350px;
    background: #1a1a1a;
  }

  .portada-info p {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-justify: distribute;
    flex-wrap: wrap;
  }

  .portada-video video {
    display: none;
  }

  .educacion-titulo {
    position: absolute;
    color: #c9c9c9;
    font-family: 'Ysabeau SC', sans-serif;
    width: 140px;
    height: 57px;
    justify-content: center;
    margin-left: 15px;
    border-radius: 10px;
    margin-top: 3px;
  }

  .educacion-titulo p {
    width: 140px;
    height: 57px;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 5px 5px 5px;
    justify-content: center;
    border-radius: 10px;
  }

  .educacion-titulo:hover {
    width: 140px;
    height: 57px;
    background: #fefefe;
    color: #000000;
    transition: all 450ms ease;
    cursor: pointer;
    -webkit-text-stroke: 0.2px #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #060606;
  }

  .conteiner-educacion {
    width: 100%;
    display: flex;
    padding: 35px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -11px;
    background: #ff4e4e;
    height: 345px;
    border-top-right-radius: 33%;
  }

  .educacion-tarjeta {
    display: inline-block;
    width: 147px;
    height: 165px;
    background: rgb(0, 208, 255);
    border-radius: 10px;
    margin-top: 15px;
    justify-content: center;
    text-align: center;
    padding: 5px;
    box-shadow: -10px -10px 10px 0px #1709b9bf;
    border-left: 1px solid #a1a1a1;
    border-top: 1px solid #a1a1a1;
    transition: all 300ms ease;
    margin-top: 36px;
  }

  .conteiner-skills-titulo {
    display: flex;
    width: 100%;
    background: #1b116c;
    border-right: 8px solid #ffffff;
    height: 115px;
  }

  .skills-titulo {
    position: absolute;
    display: flex;
    width: 90px;
    height: 64px;
    color: #c9c9c9;
    font-family: 'Ysabeau SC', sans-serif;
    z-index: 100;
    margin-left: 15px;
    border-radius: 10px;
    margin-top: 15px;
  }

  .skills-titulo:hover {
    width: 90px;
    background: #ffffff;
    color: #000000;
    transition: 450ms ease;
    -webkit-text-stroke: 0.2px #000000;
    border-radius: 10px;
  }

  .conteiner-skills {
    display: flex;
    width: 100%;
    height: 371px;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 100;
    background-image: linear-gradient(#ffffff38, #000000);
    margin-top: -75px;
    background: #1b116c;
  }

  .presentacion-tarjeta-skills {
    display: flex;
    width: 123px;
    height: 160px;
    background: rgb(206, 206, 206);
    border-radius: 15px;
    justify-content: center;
    margin-right: 20px;
    flex-wrap: wrap;
    border-left: 1.5px solid #a1a1a1;
    border-top: 1.5px solid #a1a1a1;
    box-shadow: 5px 5px 10px #000000;
    z-index: 1000;
    margin-top: 105px;
  }

  .conteiner-titulo-proyecto {
    width: 100%;
    height: 133px;
  }

  .proyecto-titulo {
    position: absolute;
    display: flex;
    width: 149px;
    height: 60px;
    color: #c9c9c9;
    padding: 5px;
    text-justify: distribute-all-lines;
    font-family: 'Ysabeau SC', sans-serif;
    align-items: center;
    z-index: 100;
    margin-left: 15px;
    margin-top: 20px;
  }

  .proyecto-titulo p:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.2px #000000;
    border-radius: 10px;
    padding: 10px;
    transition: all 400ms ease;
    box-shadow: 5px 5px 5px #3c3c3c;
  }

  .descarga-certificado {
    display: flex;
    width: 150px;
    height: 48px;
    border-radius: 15px;
    background: #f9f8f8;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 100;
    box-shadow: 2px 2px 2px #ffffff;
    color: #c9c9c9;
    align-content: center;
    margin-right: 183px;
  }

  .descarga-certificado:hover {
    width: 150px;
    height: 48px;
    background: #ffffff;
    color: #000000;
    transition: all 450ms ease;
    box-shadow: 5px 5px 5px #ff4e4e;
  }

  .descarga-cv a {
    width: 280px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    color: #c9c9c9;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .descarga-cv:hover {
    width: 150px;
    height: 48px;
    background: #ffffff;
    color: #000000;
    transition: all 450ms ease;
    box-shadow: 5px 5px 5px #ff4e4e;
  }

  .experiencia-laboral-titulo {
    position: absolute;
    display: flex;
    width: 223px;
    color: #ffffff;
    text-justify: distribute-all-lines;
    font-family: 'Ysabeau SC', sans-serif;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    z-index: 100;
  }

  .contacto-background {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 615px;
  }

  .tarjeta-proyecto1 {
    width: 314px;
    border-radius: 10px;
    margin: 31px;
    margin-top: 31px;
    border-radius: 19px;
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
    justify-content: center;
    color: rgb(221, 221, 228);
    height: 176px;
    margin-top: 0px;
  }

  .img-proyecto1 {
    display: flex;
    width: 270px;
    height: 198px;
    z-index: 100;
    margin-left: -3px;
    margin-top: -6px;
  }

  .img-proyecto2 {
    display: flex;
    width: 286px;
    height: 194px;
    z-index: 100;
    margin-top: 0px;
    margin-left: -3px;
  }

  .tarjeta-proyecto2 {
    width: 320px;
    border-radius: 10px;
    border-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    color: rgb(221, 221, 228);
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    height: 160px;
    margin-top: 0px;
  }

  .form_wrap {
    z-index: 100;
    width: 630px;
    height: 435px;
    margin: 0px auto;
    display: flex;
    margin-top: 655px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  }

  .cantact_info {
    width: 32%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;
    height: 68%;
  }

  form.form_contact {
    width: 60%;
    padding: 30px 40px;
    z-index: 100;
    margin-top: -35px;
  }

  form.form_contact input,
  form.form_contact textarea {
    width: 80%;
    height: 30px;
    padding: 12px 5px 5px;
    margin-bottom: 8px;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 2px solid #D1D1D1;
  
  }

  form.form_contact textarea {
    max-width: 80%;
    min-width: 80%;
    max-height: 90px;
}
}